<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Required runtime permission to display notifications on Android 13 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>

        <meta-data
            android:name="CLEVERTAP_ACCOUNT_ID"
            android:value="TEST" />
        <meta-data
            android:name="CLEVERTAP_TOKEN"
            android:value="TEST" />
        <meta-data
            android:name="CLEVERTAP_BACKGROUND_SYNC"
            android:value="1" />

    </application>
</manifest>
