<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.clevertap.android.sdk"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity
            android:name="com.clevertap.android.sdk.InAppNotificationActivity"
            android:configChanges="keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.clevertap.android.sdk.inbox.CTInboxActivity"
            android:configChanges="keyboardHidden"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />

        <receiver
            android:name="com.clevertap.android.sdk.pushnotification.CTPushNotificationReceiver"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name="com.clevertap.android.sdk.pushnotification.amp.CTBackgroundIntentService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="com.clevertap.BG_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="com.clevertap.android.sdk.pushnotification.amp.CTBackgroundJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <meta-data
            android:name="CLEVERTAP_BACKGROUND_SYNC"
            android:value="1" />

    </application>
</manifest>
