<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Required runtime permission to display notifications on Android 13 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application>

        <activity
            android:name="com.clevertap.android.sdk.InAppNotificationActivity"
            android:configChanges="keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.clevertap.android.sdk.inbox.CTInboxActivity"
            android:configChanges="keyboardHidden"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />

        <receiver
            android:name=".pushnotification.CTPushNotificationReceiver"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".pushnotification.amp.CTBackgroundIntentService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="com.clevertap.BG_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".pushnotification.amp.CTBackgroundJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".pushnotification.fcm.CTFirebaseMessagingReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter android:priority="-1">
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
