<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.clevertap.android.shared.test"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:name=".TestApplication">
        <meta-data
            android:name="CLEVERTAP_APP_PACKAGE"
            android:value="com.clevertap.beardedrobot" />

        <meta-data
            android:name="CLEVERTAP_ACCOUNT_ID"
            android:value="@string/ct_acc_id" />
        <meta-data
            android:name="CLEVERTAP_TOKEN"
            android:value="@string/ct_acc_token" />
        <meta-data
            android:name="CLEVERTAP_USE_GOOGLE_AD_ID"
            android:value="1" />

        <!-- TODO remove once androidx.test has explicit android:exported -->
        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$BootstrapActivity"
            android:theme="@android:style/Theme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyActivity"
            android:theme="@android:style/Theme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyFloatingActivity"
            android:theme="@android:style/Theme.Dialog"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

    </application>

</manifest>

