name: Manually validate any branch
on:
  workflow_dispatch:
    inputs:
      check_mandatory:
        description: Check for mandatory filechanges
        type: boolean
        default: false
        required: false

      lint:
        description: Check lint
        type: boolean
        default: true
        required: false

      detekt:
        description: Run codecheck :detekt
        type: boolean
        default: true
        required: false

      checkstyle:
        description: Run codecheck :checkstyle
        type: boolean
        default: true
        required: false

      jacoco:
        description: Run tests and code coverage
        type: boolean
        default: true
        required: false

      test_debug:
        description: Run just code tests :debug
        type: boolean
        default: false
        required: false

      test_release:
        description: Run just code tests :release
        type: boolean
        default: false
        required: false

      build_debug:
        description: Build AARs :debug
        type: boolean
        default: false
        required: false

      build_release:
        description: Build AARs :release
        type: boolean
        default: false
        required: false

jobs:
  lint-static_checks-test-build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout the code from Repo
        uses: actions/checkout@v4

      - name: Mandatory File Changes
        if: ${{ inputs.check_mandatory }}
        uses: ./.github/mini_flows/mandatory_filechanges

      - name: Setup JDK 17.
        uses: ./.github/mini_flows/setup_jdk

      - name: Run lint tests and Upload results
        if: ${{ inputs.lint }}
        uses: ./.github/mini_flows/lint

      - name: Static Code Check Via detekt
        if: ${{ inputs.detekt }}
        uses: ./.github/mini_flows/codechecks_detekt

      - name: Static Code Check Via checkstyle
        if: ${{ inputs.checkstyle }}
        uses: ./.github/mini_flows/codechecks_checkstyle

      - name: Unit Tests and Jacoco Coverage
        if: ${{ inputs.jacoco }}
        uses: ./.github/mini_flows/test_and_coverage_debug

      - name: Unit Tests(DEBUG)
        if: ${{ inputs.test_debug }}
        uses: ./.github/mini_flows/test_debug

      - name: Unit Tests(RELEASE)
        if: ${{ inputs.test_release }}
        uses: ./.github/mini_flows/test_release


      - name: Build AARs (DEBUG)
        if: ${{ inputs.build_debug }}
        uses: ./.github/mini_flows/build_code_debug

      - name: Build AARs (RELEASE)
        if: ${{ inputs.build_release }}
        uses: ./.github/mini_flows/build_code_release
