name: validate PR raised from task/** branched to develop branch
on:
  pull_request:
    branches: [ develop ]

jobs:
  lint-staticChecks-test-build:
    if: startsWith(github.head_ref, 'task/') || startsWith(github.head_ref, 'feat/') || startsWith(github.head_ref, 'bug/')
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout the code from Repo
        uses: actions/checkout@v3

      - name: Setup JDK 17.
        uses: ./.github/mini_flows/setup_jdk

      - name: Run lint tests and Upload results
        uses: ./.github/mini_flows/lint

      - name: Static Code Check Via detekt
        uses: ./.github/mini_flows/codechecks_detekt

      - name: Static Code Check Via checkstyle
        uses: ./.github/mini_flows/codechecks_checkstyle

      - name: Unit Tests and Jacoco Coverage (DEBUG)
        uses: ./.github/mini_flows/test_and_coverage_debug

      - name: Unit Tests and Jacoco Coverage (RELEASE)
        uses: ./.github/mini_flows/test_and_coverage_release

      - name: Build AARs (RELEASE)
        uses: ./.github/mini_flows/build_code_release

