name: validate master branch after PR is Merged

# using https://stackoverflow.com/a/67833464/7500651
on:
  pull_request:
    branches: [master]
    types: [closed]

jobs:
  lint-static_checks-test-build:
    if: ${{ github.event.pull_request.merged }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Setup actions.
        uses: actions/checkout@v2

      - name: set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: gradle

      - name: Check lint
        if: always()
        run: ./gradlew :clevertap-core:lint :clevertap-geofence:lint  :clevertap-hms:lint  :clevertap-pushTemplates:lint :clevertap-xps:lint

      - name: Upload Lint results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: lint_results
          path:  |
            clevertap-core/build/reports/lint-results.html
            clevertap-hms/build/reports/lint-results.html
            clevertap-xps/build/reports/lint-results.html
            clevertap-geofence/build/reports/lint-results.html
            clevertap-pushTemplates/build/reports/lint-results.html

      - name: CodeAnalysis via  detekt
        if: always()
        run: ./gradlew :clevertap-core:detekt :clevertap-geofence:detekt  :clevertap-hms:detekt  :clevertap-pushTemplates:detekt :clevertap-xps:detekt

      - name: Upload detekt results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: detekt_results
          path:  |
            clevertap-core/build/reports/detekt
            clevertap-hms/build/reports/detekt
            clevertap-xps/build/reports/detekt
            clevertap-geofence/build/reports/detekt
            clevertap-pushTemplates/build/reports/detekt

      - name: CodeAnalysis via  checkstyle
        if: always()
        run: ./gradlew :clevertap-core:checkstyle :clevertap-geofence:checkstyle  :clevertap-hms:checkstyle  :clevertap-pushTemplates:checkstyle :clevertap-xps:checkstyle

      - name: Upload checkstyle results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: checkstyle_results
          path: |
            clevertap-core/build/reports/checkstyle
            clevertap-hms/build/reports/checkstyle
            clevertap-xps/build/reports/checkstyle
            clevertap-geofence/build/reports/checkstyle
            clevertap-pushTemplates/build/reports/checkstyle

      - name: Run Unit Tests And Code Coverage
        if: always()
        run: ./gradlew :clevertap-core:jacocoTestReportDebug :clevertap-geofence:jacocoTestReportDebug  :clevertap-hms:jacocoTestReportDebug  :clevertap-pushTemplates:jacocoTestReportDebug :clevertap-xps:jacocoTestReportDebug

      - name: Upload Unit tests
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: unit-tests-results.zip
          path: |
            clevertap-core/build/reports/tests/testDebugUnitTest
            clevertap-core/build/reports/jacoco

            clevertap-hms/build/reports/tests/testDebugUnitTest
            clevertap-hms/build/reports/jacoco

            clevertap-xps/build/reports/tests/testDebugUnitTest
            clevertap-xps/build/reports/jacoco

            clevertap-geofence/build/reports/tests/testDebugUnitTest
            clevertap-geofence/build/reports/jacoco

            clevertap-pushTemplates/build/reports/tests/testDebugUnitTest
            clevertap-pushTemplates/build/reports/jacoco


      - name: Generate AAR files
        if: always()
        run: ./gradlew :clevertap-core:assembleDebug :clevertap-geofence:assembleDebug  :clevertap-hms:assembleDebug  :clevertap-pushTemplates:assembleDebug :clevertap-xps:assembleDebug

      - name: Upload AAR and apk files
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: aars_and_apks.zip
          path: |
            clevertap-core/build/outputs/aar
            clevertap-hms/build/outputs/aar
            clevertap-xps/build/outputs/aar
            clevertap-geofence/build/outputs/aar
            clevertap-pushTemplates/build/outputs/aar

      # todo release tests
      # todo release to nexus staging
